- employment_costs = EmploymentCostsCalculator.new(person.salary, person.fte, oncosts)
%tr
  %td= person.id
  %td= person.full_name
  %td{:align=>'right'}= currencify(person.salary)
  %td{:align=>'right'}= person.fte
  %td{:align=>'right'}= currencify(employment_costs.superannuation)
  %td{:align=>'right'}= currencify(employment_costs.payroll_tax)
  %td{:align=>'right'}= currencify(employment_costs.total_wages_costs)
  %td{:align=>'right'}= currencify(employment_costs.weighted_wages_costs)
  %td{:align=>'right'}= currencify(employment_costs.oncosts)
  %td{:align=>'right'}= currencify(employment_costs.daily_cost)
  %td{:align=>'right'}= currencify(employment_costs.average_daily_cost)