%tr
  %td= project.id
  %td= project.name
  %td{:align => 'center'}= currencify(project.starting_cost)
  %td{:align => 'center'}= currencify(project.labour_costs_to(@date))
  %td{:align => 'center'}= number_with_precision(project.hours_to(@date)/SystemSetting.hours_per_day, :precision =>2)
  %td{:align => 'center'}= currencify(project.expenses_amount_to(@date))
  %td{:align => 'center'}= currencify(project.cost_to(@date))
  %td= link_to "Expenses", project_expenses_url(project.id)
  %td= link_to "Edit", project_url(project.id), :class => "Edit"
