= link_to 'Timesheets', timesheets_url

%h4 Reporting
= link_to 'Billing', billings_url
= link_to 'Timesheet Checks', timesheet_checks_url
= link_to 'Costs', costs_url
= link_to 'Utilisation', utilisations_url

%h4 Administration
= link_to 'Users', users_url
= link_to 'People', people_url
= link_to 'Categories', project_categories_url
= link_to 'Projects', projects_url
= link_to 'Rates', assignments_url
= link_to 'Work Periods', work_periods_url
= link_to 'System Settings', system_settings_url
