%tr
  %td= project.id
  %td= project.name
  %td= project.category_name
  %td{:align => 'center'}= number_with_precision(project.starting_hours/SystemSetting.hours_per_day, :precision => 2)
  %td{:align => 'center'}= currencify(project.starting_cost)
  %td{:align => 'center'}= project.use_fixed_daily_rate
  %td= project.fixed_daily_rate
  %td= project.pivotal_id
  %td= link_to "Expenses", project_expenses_url(project.id)
  %td= link_to "Stories", project_stories_url(project.id)
  %td= link_to "Edit", project_url(project.id), :class => "Edit"
  %td= link_to "Delete", project_url(project.id), :method => :delete, :confirm => "Are you sure you want to delete #{project.name}?", :class => "Delete"
