%tr
  %td= story.id
  %td= story.name
  %td= story.pivotal_id
  %td= story.current_state
  %td= link_to "Statuses", project_story_story_statuses_url(story.project.id, story.id)
  %td= link_to "Edit", project_story_url(story.project.id, story.id), :class => "Edit"
  %td= link_to "Delete", project_story_url(story.project.id, story.id), :method => :delete, :confirm => "Are you sure you want to delete #{story.name}?", :class => "Delete"
