%dl
  %dt
    %label{:for => "work_period_person"}
      Person:
  %dd
    = collection_select(:work_period, :person, Person.all, :id, :full_name, {:prompt => true})
  %dt
    %label{:for => "work_period_project"}
      Project:
  %dd
    = collection_select(:work_period, :project, Project.all, :id, :name, {:prompt => true})
  %dt
    %label{:for => "work_period_date"}
      Date:
  %dd
  = date_select(:work_period, :date, :default => Date.today )
  %dt
    %label{:for => "work_period_hours"}
      Hours:
  %dd
    = form.text_field :hours, :size => '10', :maxlength => 6
  %dt
    %label{:for => "work_period_description"}
      Description:
  %dd
    = form.text_field :description, :size => '50'
