= render :partial => 'js_functions'

= link_to '<< Previous', edit_timesheet_url(@timesheet.person_id, :start_date => -7.days.from_now(@timesheet.date_range.first))
= link_to 'Next >>', edit_timesheet_url(@timesheet.person_id, :start_date => 1.days.from_now(@timesheet.date_range.last))
%table{:border => 1}
  %tr{:align => 'center'}
    %th &nbsp;
    - @timesheet.date_range.each do |date|
      %th= date.strftime('%a <br>%d %b %y')
    %th Totals
  - Project.all.each do |project|
    %tr{:align => 'center'}
      %td= project.name
      - @timesheet.date_range.each do |date|
        %td= text_field_tag("work_#{project.id}_#{date.as_json}", @timesheet.work(project, date), :size => 3, :class => "#{project.name.parameterize.to_s} #{date.as_json} hours")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => timesheet_url(@timesheet.person_id), :method => :put, :with => "'hours=' + value + '&project_id=#{project.id}&date=#{date.as_json}'", :update => "work_#{project.id}_#{date.as_json}")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => project_total_timesheet_url(@timesheet.person_id), :method => :get, :function => "$('project_total_#{project.id}').update(sum_selector('.#{project.name.parameterize.to_s}'))")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => date_total_timesheet_url(@timesheet.person_id), :method => :get, :function => "$('date_total_#{date.as_json}').update(sum_selector('.#{date.as_json}'))")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => total_timesheet_url(@timesheet.person_id), :method => :get, :function => "$('total').update(sum_selector('.hours'))")

      %td{:id=>"project_total_#{project.id}"}= @timesheet.project_total(project)
  %tr{:align => 'center'}
    %th Totals
    - @timesheet.date_range.each do |date|
      %th{:id => "date_total_#{date.as_json}"}= @timesheet.date_total(date)
    %th{:id => 'total'}= @timesheet.total
