%p= @timesheet.person_name

%table{:border => 1}
  %tr{:align => 'center'}
    %th &nbsp;
    - @timesheet.date_range.each do |date|
      %th= date.to_s
    %th Totals
  - Project.all.each do |project|
    %tr{:align => 'center'}
      %td= project.name
      - @timesheet.date_range.each do |date|
        %td= text_field_tag("work_#{project.id}_#{date.as_json}", @timesheet.work(project, date), :size => 3)

        = observe_field("work_#{project.id}_#{date.as_json}", :url => timesheet_url(@timesheet.person_id), :method => :put, :frequency => 0.25, :with => "'hours=' + value + '&project_id=#{project.id}&date=#{date.as_json}'")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => project_total_timesheet_url(@timesheet.person_id), :method => :get, :frequency => 0.25, :update => "project_total_#{project.id}", :with => "'project_id=#{project.id}&start_date=#{@timesheet.date_range.begin.as_json}&end_date=#{@timesheet.date_range.end.as_json}'")

        = observe_field("work_#{project.id}_#{date.as_json}", :url => date_total_timesheet_url(@timesheet.person_id), :method => :get, :frequency => 0.25, :update => "date_total_#{date.as_json}", :with => "'date=#{date.as_json}'")

      %td{:id=>"project_total_#{project.id}"}= @timesheet.project_total(project)
  %tr{:align => 'center'}
    %th Totals
    - @timesheet.date_range.each do |date|
      %th{:id => "date_total_#{date.as_json}"}= @timesheet.date_total(date)
    %th= @timesheet.total
  %tr{:align => 'center'}
    %th &nbsp;
    - @timesheet.date_range.each do |date|
      %th= date.to_s
    %th Totals
		

%p Dates

%p Row for each project

%p Totals