= render :partial => 'select_start_date'
- @billings.projects.each do |project|
  %h3= "#{project.name} Project"
  %table
    %tr
      %th Name
      %th Hours
      %th Daily Rate
      %th Billable
      %th Costs
      %th Margin
    - @billings.timesheets_for(project).each do |timesheet|
      %tr
        %td= timesheet.person.full_name
        %td= "#{timesheet.total} hours"
        %td= "@ #{currencify(timesheet.rate)}"
        %td= currencify(timesheet.billing)
        %td= currencify(timesheet.costs)
        %td= currencify(timesheet.margin)
%h2 Summary
%table
  %tr
    %th Billable
    %th Costs
    %th Margin
  %tr
    %td= currencify(@billings.billing)
    %td= currencify(@billings.costs)
    %td= currencify(@billings.margin)