= render :partial => 'select_start_date'
= render :partial => 'billings'

%h2 Summary
%table
  %tr
    %th Billable
    %th Costs
    %th Margin
  %tr
    %td= currencify(@billings.billing)
    %td= currencify(@billings.costs)
    %td= currencify(@billings.margin)