= render :partial => 'select_start_date'
- @projects.each do |project|
  %h3= "#{project.name} Project"
  %table
    %tr
      %th Name
      %th Hours
      %th Daily Rate
      %th Billable
      %th Costs
      %th Margin
    - project.people.each do |person|
    - timesheet = Timesheet.new(person, :project => project, :date_range => @start_date..@end_date)
    - hours = timesheet.total
      - if hours != 0.0
        %tr
          %td= person.full_name
          %td= "#{hours} hours"
          %td= "@ #{currencify(project.rate_for(person))}"
          %td= billing = currencify(timesheet.billing)
          %td= currencify(timesheet.costs(@oncosts))
          %td= currencify(timesheet.margin(@oncosts))
