%p
= form_tag('/project_dashboards/select')
= hidden_field_tag 'project_id', @project.id
Start Date: 
= select_date(@start_date || Date.today, :prefix => 'start_date')
%br
End Date: 
= select_date(@end_date || Date.today, :prefix => 'end_date')
%br
= submit_tag "Select"
= "</form>"
