%p << Previous Next >>

%table{:border => 1}
  %thead
    %tr
      %th Name
      - @timesheet_check.weeks.each do |week|
        %th= week.description
      %th Action
  %tbody
    - Person.all.each do |person|
      %tr
        %td= person.full_name
        - @timesheet_check.weeks.each do |week|
          %td{:align => 'center'}
            = "**" if week.incomplete?(person)
            = link_to week.hours_for(person).to_s, edit_timesheet_url(person.id, :start_date => week.start_date, :end_date => week.end_date)
            = "**" if week.incomplete?(person)
        %td= link_to 'Notify', 'http://www.google.com' if @timesheet_check.incomplete?(person)