<html>
<head>
  <meta name="google-site-verification" content="8dBCJlKiiO5ACb9iAe8aYQyMbmdx8P_KmcLPWWMn_-g" />
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<h1>Cogent Consulting Timesheet Application</h1>
	<p>
	  <%= link_to 'Login', new_session_url unless session[:user_id]%> 
	  <%= link_to 'Logout', delete_session_url if session[:user_id]%> 
	</p>
	<div id="content">
		<% if flash[:notice] -%>
	 	  <div id="notice">
			  <%= flash[:notice] %>
		  </div>
		<% end %>
	  <%= @content_for_layout %>
	</div>
</body>
</html>